<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mypetclinic.mapper.SpecialtyMapper">

    <select id="selectSpecialties" resultType="com.mypetclinic.model.Specialty">
        select s.* from specialties s right join vet_specialties vs on s.id = vs.specialty_id where vs.vet_id = #{id}
    </select>

</mapper>