<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mypetclinic.mapper.VetMapper">
    
    <!--<resultMap id="vetResultMap" type="com.mypetclinic.model.Vet">
        <id property="id" column="id" />
        <result property="firstName" column="first_name" />
        <result property="lastName" column="last_name" />
        &lt;!&ndash; Specialty 要给全名，不然配置会出错&ndash;&gt;
        <collection property="specialties" ofType="com.mypetclinic.model.Specialty">
            <id property="id" column="id" />
            <result property="name" column="name" />
        </collection>
    </resultMap>-->

    <resultMap id="vetResultMap2" type="com.mypetclinic.model.Vet">
        <id property="id" column="id" />
        <result property="firstName" column="first_name" />
        <result property="lastName" column="last_name" />
        <collection property="specialties" select="com.mypetclinic.mapper.SpecialtyMapper.selectSpecialties" column="id"/>
    </resultMap>
    
    <select id="selectAll" resultMap="vetResultMap2">
        select * from vets;
    </select>

    <select id="selectById" resultMap="vetResultMap2">
        select * from vets where id = #{id};
    </select>
    
</mapper>